html,body {
  text-align: center;
  background-color: #969D9A;
  height: 100%;
}

main.mainpage div.leftsection {
  display: inline-block;
  vertical-align: top;
  width: 15%;
  background-color: #FFA37C;
}
main.mainpage div.leftsection h1 {
  height: 67px;
}

main.mainpage div.mainsection {
  display: inline-block;
  vertical-align: top;
  width: 60%;
}
main.mainpage div.mainsection div.maintop {
  background-color: #FFE67C;
  height: 67px;
}
main.mainpage div.mainsection div.maintop > h1, button {
  display: inline-block;
  margin: 1% 10px 0 10px;
}
main.mainpage div.mainsection div.maintop h1#questionnumber {
  float: left;
}
main.mainpage div.mainsection div.maintop h1#timer {
  margin-right: 5%;
}
main.mainpage div.mainsection div.maintop button {
  width: 100px;
  height: 40px;
  font-size: 20px;
  background-color: #13C67E;
  border: 2px solid #00834E;
  float: right;
}
main.mainpage div.mainsection div.maintop button:hover {
  cursor: pointer;
  opacity: 0.8;
  transition: 5ms;
}

main.mainpage div.mainsection div.mainmiddle {
  background-color: #7868BE;
  margin-top: 10px;
  padding: 11.4%;
}
main.mainpage div.mainsection div.mainmiddle img {
  width: 35%;
  min-width: 100px;
}
main.mainpage div.mainsection div.mainmiddle p#productprice {
  font-size: 40px;
  border: 2px solid #969D9A;
  background-color: #E6E4DC;
  width: 130px;
}

main.mainpage div.mainsection div.mainfooter {
  background-color: #FFE67C;
  margin-top: 10px;
  min-height: 100px;
  min-width: 100%;
  overflow: hidden;
  display: inline-block;
  grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto auto;
  grid-template-areas:
  'coin' 'note';
}
main.mainpage div.mainsection div.mainfooter div {
  display: inline-block;
  margin-top: 3px;
}
main.mainpage div.mainsection div.mainfooter div p {
  display: inline-block;
}
main.mainpage div.mainsection div.mainfooter div > img {
  margin-right: 5px;
}
main.mainpage div.mainsection div.mainfooter div > img:hover {
  cursor: pointer;
  opacity: 0.8;
  transition: 5ms;
}
main.mainpage div.mainsection div.mainfooter img.coin {
  width: 70px;
}
main.mainpage div.mainsection div.mainfooter img.note {
  width: 120px;
}

main.mainpage div.rightsection {
  display: inline-block;
  vertical-align: top;
  width: 15%;
}
main.mainpage div.rightsection div.righttop {
  height: 67px;
  background-color: #FFA37C;
}
main.mainpage div.rightsection div.rightmoney {
  margin-top: 10px;
  background-color: orange;
}
main.mainpage div.rightsection div.rightmoney img:hover {
  cursor: pointer;
  opacity: 0.8;
  transition: 5ms;
}
main.mainpage div.rightsection div.rightmoney img.coin {
  width: 64px;
}
main.mainpage div.rightsection div.rightmoney img.note {
  width: 80%;
}
