html, body {
	margin:0;
	padding:0;
	height:100%
}

.centerdiv {
  position: relative;
  background-color: lightslategray;
	min-height:100%;
}
.middle {
  width: 30%;
	height: 20%;
	background-color: seagreen;
	position:absolute;
	left:0;
	right:0;
	top:0;
	bottom:0;
  margin:auto;
}
.middle input {
  text-align: center;
  width: 70%;
  height: 40px;
  font-size: 20px;
  padding: 5px;
  margin-top: 30px; 
  /* border: 2px solid #00B16A; */
  border: none;
  border-radius: 5px;
  outline-color: #00B16A;
}
.middle button {
  width: 20%;
  height: 30px;
  margin-top: 30px; 
}
.middle h1 {
  text-align: center; 
}

.middle .difficulty {
  display: inline-block;
}
.middle .difficulty button {
  display: inline-block;
  width: 100px;
  margin: 20px auto;
  border-radius: 10px;
  border: none;
  background-color: #00B16A;
}
.middle .difficulty button:hover {
  cursor: pointer;
  opacity: 0.8px;
  transition: 5ms;
  background-color: #13C67E;
}

.middle input,button,h1 {
  margin: 20px auto;
  display: block;
}